<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyramid interface</title>
    <link rel="icon" type="image/x-icon" href="/images/pyramid.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/js/form.js"></script>
    <script type="text/javascript" src="/js/displayTasks.js"></script>
    <script type="text/javascript" src="/js/dropdown.js"></script>
</head>
<body>
    <div id="home-image"></div>

    <div id="new-task" class="inactive-bg">
        <h1>Add a new task...</h1>
        <button class="btn" name="add" onclick="createTaskForm()">
            <i id="new-icon" class="fa fa-plus-square fa-2x"></i>
        </button>
    </div>

    <div id=filters>
          <div class="filter">
              <input type="checkbox" id="filter-completed" class="filter-input"/>
              <label for="filter-completed">completed</label>
          </div>
          <div class="filter">
              <input type="checkbox" id="filterPending" name="filter-pending" checked/>
              <label for="filter-pending">pending</label>
          </div>
    </div>

    <div id="tasks-container" class="inactive-bg">
        <script>
            const allTasks = <%=tasks%>;
            const filteredTasks = allTasks.filter(task => {return !task.isCompleted;});
            renderTaks(filteredTasks);
        </script>
        <% for (let i=4; i >=0; i--) { %>
            <div class="column">
                <h2>Tier <%=i %></h2>
                <% tasks
                 .filter(function (task) { return task.tier === i ;})
                 .forEach(function (task) { %>
                    <div class="task">
                        <span onclick="displayTaskInfo(<%= JSON.stringify(task) %>)"><%=task.name%></span>
                        <button onclick="createEditForm(<%= JSON.stringify(task) %>)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button onclick="submitDeleteForm('<%- task._id %>')">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </div>

    <script>
        window.addEventListener("DOMContentLoaded", () => {
            document.getElementById("tasks-container").classList.toggle("inactive-bg");
            document.getElementById("new-task").classList.toggle("inactive-bg");
        });
    </script>

</body>
</html>

